---
layout: categories
title: Blog
permalink: /blog
---

<center><h3>Latest Posts in English</h3></center>

<ul>
  {% for post in site.posts %}
    {% if post.tags contains "english" %}
    <li>
      <h2><a href="{{ post.url | tag }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
    {% endif %}
  {% endfor %}
</ul>

<center><h3>Latest Posts in Chinese</h3></center>

<ul>
  {% for post in site.posts %}
    {% if post.tags contains "chinese" %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
    {% endif %}
  {% endfor %}
</ul>
